<h2>Welcome <%= "#{@user.first_name} #{@user.last_name}!" %></h2>

<div class="user-info">
  <h4>Your Subscribed Channels:</h4>
  <% if @user.channels.empty? %>
    <p>You have no subscriptions!</p>
  <% else %>
    <ul>
      <% @user.channels.each do |channel| %>
        <li><a href="/channels/<%= channel.id %>"><%= channel.name %></a></li>
      <% end %>
    </ul>

    <h4>Total price per month for your subscriptions:</h4>
      <%= "$#{@user.total_subscriptions}" %><br>
  <% end %>
</div>