<ul id="week">
  <li class="list-box day"><a href="/events/monday"><h3>Monday</h3></a></li>
  <li class="list-box day"><a href="/events/tuesday"><h3>Tuesday</h3></a></li>
  <li class="list-box day"><a href="/events/wednesday"><h3>Wednesday</h3></a></li>
  <li class="list-box day"><a href="/events/thursday"><h3>Thursday</h3></a></li>
  <li class="list-box day"><a href="/events/friday"><h3>Friday</h3></a></li>
  <li class="list-box day"><a href="/events/saturday"><h3>Saturday</h3></a></li>
  <li class="list-box day"><a href="/events/sunday"><h3>Sunday</h3></a></li>
</ul>

