<div id="week">
  <div class="list-box day">
  	<a href="/events/monday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>MONDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>
  <div class="list-box day">
  	<a href="/events/tuesday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>TUESDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>
	<div class="list-box day">
		<a href="/events/wednesday">
			<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>WEDNESDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
		</a>
	</div>
  <div class="list-box day">
  	<a href="/events/thursday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>THURSDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>
  <div class="list-box day">
  	<a href="/events/friday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>FRIDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>
  <div class="list-box day">
  	<a href="/events/saturday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>SATURDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>
  <div class="list-box day">
  	<a href="/events/sunday">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-2 col-lg-4">
  				<h4>SUNDAY</h4>
  			</div>
  			<div class="col-md-1">
  				<h4>></h4>
  			</div>
  		</div>
  	</a>
  </div>

</div>

