<div class="row">
  <div class="col-md-3 sidebar">
    <div class="container-fluid">
      <div class="row">
        <img class="logo" src="images/sf-bay-logo.png">
      </div>
      <div id="main-box">
         <%= erb :'_list_days', :layout => false %>
            <img class="graphic" src="images/GoldenGate.png">
            <img class="graphic clouds" src="images/clouds.png">
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="map"></div>
  </div>
</div>
