<div class="row">
  <div class="col-md-3 sidebar">
    <div class="container-fluid">
      <h1>SF Bay Area Lindy Hop</h1>
      <div id="main-box">
        <ul id="week">
          <li class="list-box day"><a href="/events/monday"><h3>Monday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Tuesday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Wednesday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Thursday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Friday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Saturday</h3></a></li>
          <li class="list-box day"><a href=""><h3>Sunday</h3></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="map"></div>
  </div>
</div>
