<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3 sidebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <h1>SF Bay Area Lindy Hop</h1>
        </div>
        <div class="col-xs-12 col-md-3">
          <img src="images/kevinjo.jpg">
        </div>
      </div>
      <div id="main-box">
         <%= erb :'_list_days', :layout => false %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div id="map"></div>
  </div>
</div>
