<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <body>
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="container-fluid">
          <h1>SF Bay Area Lindy Hop</h1>
          <div class="weekdays">
            <ul>
              <li class="list-box"><a href=""><h3>Monday</h3></a></li>
              <li class="list-box"><a href=""><h3>Tuesday</h3></a></li>
              <li class="list-box"><a href=""><h3>Wednesday</h3></a></li>
              <li class="list-box"><a href=""><h3>Thursday</h3></a></li>
              <li class="list-box"><a href=""><h3>Friday</h3></a></li>
              <li class="list-box"><a href=""><h3>Saturday</h3></a></li>
              <li class="list-box"><a href=""><h3>Sunday</h3></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div id="map"></div>
      </div>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS']%>&callback=initMap">
    </script>
  </body>
</html>
